<div class="conn">
    <form>
        <h2>Change Password</h2>
        <div>
            <label>Username: </label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Current Password: </label>
            <input type="password" name="current_password" required>
        </div>
        <div>
            <label>New Password: </label>
            <input type="password" name="new_password" required>
        </div>
        <div>
            <label>Confirm New Password: </label>
            <input type="password" name="confirm_password" required>
        </div>
        <button (click)="onsubmit" >Submit</button>
    </form>
</div>